<!-- HOME -->

<h1 class="home_title">Helping you keep organized during your job search.</h1>

<%= image_tag('home_images.png', :class => "image_home") %>

<!-- BUTTONS -->

<% if current_user %>
  <div class="button-large">
    <%= link_to "Dashboard", user_leads_url(session[:user_id]) %>
  </div>

<% else %>
  <div class="button-large">
    <%= link_to "SIGN UP WITH EMAIL", new_user_path, class: "signup" %>
  </div>

  <div class="button-small">
    <%= link_to(image_tag("github-login.png", class: "github"), '/auth/github') %>
  </div>
<% end %>
