<!-- HOME -->

<h1 class="home_title">Keeping you organized during your job search.</h1>

<%= image_tag('home_images@2x.png', :class => "image_home") %>

<!-- BUTTONS -->
  <ul class="home_buttons">
    <% if current_user %>
      <div class="button-large" id="signup">
        <%= link_to "Dashboard", user_leads_url(session[:user_id]), class: "home_button"  %>
      </div>

    <% else %>
      <li><%= link_to "Sign up with Email", new_user_path, class: "home_button" %></li>

      <li><%= link_to(image_tag("github-login.png", class: "github"), '/auth/github') %></li>
  </ul>
<% end %>
