<h1>Sign In!</h1>
<p>Don't have an account? <%= link_to "Sign Up", new_user_path %></p>

<%= link_to('Sign Up with Github!', '/auth/github') %>

  <%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
    <label>Email:</label>

    <input name="email" type="text" id="name">
    <br>
    <label>Password:</label>

    <input name="password" type="password" id="password">
    <br>
    <input type="submit" value='Sign In'>
  <% end %>
